/* DESKTOP */
@media (min-width: 768px) {
    .footer-desktop {
        display: flex !important;
        justify-content: space-between !important;
    }
    .footer-mobile {
        display: none;
    }
}
/* MOBILE */
@media (max-width: 768px) {
    .footer-mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0 auto;
    }

    .footer-mobile__info-container {
        display: flex;
        gap: 20px;
    }

    .footer-desktop {
        display: none;
    }
}
