form {
    font-family: "lato", serif;
    background-color: #efefef;
    padding: 20px;
}

.form h2 {
    font-family: "Playfair Display", serif !important;
    color: $primary-color !important;
}

form .btn {
    width: 100%;
    background-color: #767676;
}

.input-group-text {
    color: #fff !important;
    border: #707070;
    background-color: #c7c7c7 !important;
}

.form-check-input::after {
    background-color: $primary-color !important;
    color: $primary-color !important;
}

/* Desktop */
@media (min-width: 768px) {
    .container {
        display: flex !important;
        flex-direction: row;
        gap: 50px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        display: flex !important;
        flex-direction: column-reverse;
    }
    h2 {
        padding-left: 32px !important;
    }
    form {
        padding: 0px 32px;
    }
}
