.list-group-item {
    border: none !important;
    padding-left: 32px !important;
    gap: 20px;
    font-family: "lato", serif;
}

.list-group-item {
    background-color: transparent !important;
}
